.addplayers-screen {
  background-color: #132E4D;
  height: 100vh;
  overflow: hidden;
}
.img-section {
    display: flex;
    justify-content: center;
}
  .dice-image {
    color: #132E4D;
    width: 70%;
  }
  .add-players-header{
    color: white;
      margin-bottom: 2%;
      background-color: #312c51;
  }
  .row3 {   
    position: relative;
    top: 5%;
  }
  .back-button {
     color: #4081EC;
     margin-top: 5%;
  }
  .add-player-section > div {
      font-size: 20px;
      display: flex;
      justify-content: center;
  }
  
  .input-player-name {
      color: black;
      border-radius: 3px;
      border: none;
      margin: 1%;
  }

  .warning-message {
    color:red;
    display: flex;
    justify-content: center;
  }
 .add-player-button {
     background-color: #4081EC;
     border: none;
 }

.play-button-section {
  display: flex;
  justify-content: center;
}
 .play-button {
   color: white;
     background-color: #4081EC;
     border: none;
     font-size: 20px;
     border-radius: 3px;
     margin:2%;
 }