.container-fluid {
    background-color:   #132E4D;
    
}
.rules-screen-header{
    padding: 1% 1%;
    font-size: 20px;
    margin-bottom: 2%;
    background-color: #312c51;
    color: white;
}
.back-to-add-players {
    font-size: 12px;
}

.rules-section {
    height: 25em;
    color: white;
}
.rule-list-title {
font-size: 20px;
color: white;
}
.rule-list {
    margin: 4% 4%;
    font-size: 15px;
}
.rule-list > p {
    margin: 2% 2%;
}
.set-score-section {
    height: 9em;
}

