.container-fluid {
    background-color:   #132E4D;
}
.rules-screen-header{
    padding: 1% 1%;
    font-size: 20px;
    margin-bottom: 2%;
    background-color: #312c51;
    color: white;
}
.back-to-add-players {
    font-size: 12px;
}
.greet-players {
    margin-left: 5%;
}

.rules-section {
    color: white;
}
.rule-list-title {
    margin-left: 5%;
font-size: 30px;
color: white;
}
.rule-list {
    margin: 3% 4%;
    font-size: 15px;
}
.rule-list > p {
    font-size: 18px;
    margin: 2% 2%;
}
.set-score-section {
    height: 9em;
} 
.input-winning-score {
    margin-left: 30%;
}
.start-playing {
    color:#4081EC;
}
