.App {
  background-color: #132E4D;
  color: white;
  height: 45em;
}
.container-fluid {
  font-family: 'Itim', cursive;
}
 .welcome-screen-header {
   margin-bottom: 2%;
   background-color: #312c51;
 }
.dice-image {
  color: #132E4D;
  width: 65%;
  margin-left: 4%;
}
.row3 {
  position: relative;
  top: 5%;
}
.start-button {
  background: none;
  border: 2px solid white;
  color: white;
  margin-left: 5%;
  font-size: 30px;
}